

@{
    ViewBag.Title = "About Us";
}

<div id ="headInput">
<h2>
Have more questions about the deliciously legendary pancake?
</h2>
<form id="usrform">
  Email Address: <input type="email" name="emailInput" id="usrform1">
  <input type="submit" id="button1" onclick="getEmailAddress">
</form>
</div>

<div id="container">
    <div class="photobanner">
        <img class="first" src="../../Content/themes/base/images/mysticalpancakes.jpg" alt="" title="This is the first image."/>
        <img src="../../Content/themes/base/images/pancakes.jpg" alt="" title="This is the second image."/>
        <img src="../../Content/themes/base/images/mysticalpancakes.jpg" alt="" title="This is the third image."/>
        <img src="../../Content/themes/base/images/pancakes.jpg" alt="" title="This is the fourth image."/>
        <img src="../../Content/themes/base/images/mysticalpancakes.jpg" alt="" title="This is the fifth image."/>
        <img src="../../Content/themes/base/images/pancakes.jpg" alt="" title="This is the sixth image."/>
        <img src="../../Content/themes/base/images/mysticalpancakes.jpg" alt="" title="This is the seventh image."/>
        <img src="../../Content/themes/base/images/pancakes.jpg" alt="" title="This is the eighth image."/>
        <img src="../../Content/themes/base/images/mysticalpancakes.jpg" alt="" title="This is the ninth image."/>
    </div>
</div>