@{
    ViewBag.Title = "Pancakes are necessary.";
}

<h2>@ViewBag.Message</h2>
    
<p>
    There have been times in my life when people have asked: </p>
    <div id="Unordered List">
    <ul style="margin-left: 15px;">
     <li><i>What is the meaning of pancakes?</i></li>
     <li><i>How do pancakes even make sense?</i></li>
     <li><i>Do pancakes hold mystical powers?</i></li>
     </ul>
     </div>

<h2>You are super smart.  You came to the right place.</h2>
<p>
     This site will explain this, and more about pancakes.
</p>
<img src="../../Content/themes/base/images/mysticalpancakes.jpg"/>